/* here you can put your own css to customize and override the theme */

.hero-backgroung .bigdata {
  position: absolute;
  top: -445px;
  left: 770px;
}
@media only screen and (max-width: 90em) {
  .hero-backgroung .bigdata {
    top: -250px;
    left: 370px;
  }
}
@media only screen and (max-width: 48em) {
  .hero-backgroung .bigdata {
    top: -200px;
    left: 300px;
  }
}
@media only screen and (max-width: 26em) {
  .hero-backgroung .bigdata {
    top: -75px;
    left: 150px;
  }
}
.hero-backgroung .screenshot {
  position: absolute;
  top: 25vh;
  right: 0px;
}
@media only screen and (max-width: 48em) and (min-height: 1024px) {
  .hero-backgroung .screenshot {
    top: 50vh;
    right: 0px;
  }
}
.tp-caption .beta-button {
  background-color: Transparent;
  width: 10vw;
  height: 3vw;
  border: solid 0.1vw #61ca41;
  cursor:pointer;
  text-align: center;
  display:table-cell;
  vertical-align:middle;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 1vw;
  color: #61ca41;
}
@media only screen and (max-width: 26em) {
  .tp-caption .beta-button {
    width: 25vw;
    height: 8vw;
    border: solid 1.5px #61ca41;
    font-size: 2.5vw;
  }
}
